body {

    margin:0px;
    border:0px;
}

.imagemPlantel {
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 300px;
    transition: transform .2s;
}

    /*.imagemPlantel:hover .nomeEquipa {
        opacity: 1;
    }*/

/*.nomeEquipa {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
/*
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}*/



.logotipo {
    width: 100px;
    height: 100px;
    float: left;
    margin-top:10px;
    margin-left:10px;
}

.nomeEquipa {
    text-align: center;
    font-style: italic;
    font-size: 100px;
    color: gray;
    text-shadow: 2px 2px 4px #000000
}


hr.barra1 {
    margin-top:-15px;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


.divOutrasInf {
    /*float:left;*/
    bottom: 0;
    left: 0;
    /*margin-top: 500px;*/
}

.divTituloInf {
    /*o primeiro é top, right, bottom, left*/
    margin: 0px 500px 5px 10px;
    border-bottom: 1px solid black;
}

.tituloInf {
    margin-left: 20px;
    color: darkcyan;
    font-style: italic;
    font-weight:bold;
}

.divDadosPlantel {
    margin: 0px 500px 5px 10px;
    border-bottom: 1px solid black;
}

.tituloPlantel {
    margin-left: 20px;
    color: darkcyan;
    font-style: italic;
    font-weight:bold;
}




.nomeTodoTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}


.nomeTodo {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.dataFundTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}

.dataFund {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.paisTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}

.pais {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.cidadeTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}


.cidade {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.presidenteTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}

.presidente {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}


#carouselExampleIndicators {
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#imagemJogador {
    width: 500px;
    height: 333px;
    object-fit:cover;
}



.divJogadores {
    min-height:330px;
    margin-top:20px;
    margin-bottom:30px;
}


.fotoJogador1 {
    margin-top: 10px;
    margin-left: 7px;
    transition: transform .2s;
    width: 250px;
    height: 300px;
    float: left;
    display: block;
    flex-wrap: nowrap;
    /*margin-left: 50px;*/
}


.fotoJogador1:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.10);
}

.informacaoDireita{
    min-height:200px;
    float:left;
    
}

.informacaoEsquerda {
    min-width:200px;
    float:right;
    margin-right:850px;

}

.tabela {
    float:right;
}




.nomeJogador {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    color: dimgray;
}

hr.barra {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}





.fotoJogador2 {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 478px;
    width: 365px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.classNomeComp{
    margin-top:0px;
}

.paragrafoNome{
    margin-bottom:0px;
}

.paragrafoNumero{
    margin-bottom:0px;
}

.numeroJogador {
    margin-top: 0px;
}


.paragrafoPosicao {
    margin-bottom: 0px;
}

.posicao {
    margin-top: 0px;
}

.paragrafoDataNasc {
    margin-bottom: 0px;
}

.dataNascimento {
    margin-top: 0px;
}

.paragrafoNacionalidade {
    margin-bottom: 0px;
}

.nacionalidade {
    margin-top: 0px;
}

.paragrafoAltura {
    margin-bottom: 0px;
}

.altura {
    margin-top: 0px;
}

.paragrafoPeso {
    margin-bottom: 0px;
}

.peso {
    margin-top: 0px;
}

