body {

    margin:0px;
    border:0px;
}


.imagemCabeçalho {
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 300px;
    transition: transform .2s;
}


.hoqueiHistoria {
    display: -webkit-inline-box;
    margin-top: 13px;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

hr.barraPagInicial {
    margin-top: 123px;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


.imagemLogotipo {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-left: 133px;
    transition: transform .2s;
}

.imagemLogotipo:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.10);
}

.tituloMaterialJogadores {
    margin-left: 20px;
    color: darkcyan;
    font-style: italic;
    font-weight: bold;
}

.divTituloMaterialJogadores {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0px 11px 5px 10px;
    border-bottom: 1px solid darkcyan;
}

.divMaterialJogadores {
    margin-top:20px;

}


div.material {
    width: 24%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.legenda {
    text-align: center;
    padding: 10px 20px;
}

.material {
    width: 298px;
    float:left;
    margin-left:10px
    
}

    
    
.logotipo {
        width: 100px;
        height: 100px;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
    }

.nomeEquipa {
    text-align: center;
    font-style: italic;
    font-size: 100px;
    color: gray;
    text-shadow: 2px 2px 4px #000000
}


hr.barra1 {
    margin-top:-15px;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.historiaEquipa {
    text-align:justify;
    margin-left:50px;
    margin-right:50px;


}


.divOutrasInf {
    /*float:left;*/
    bottom: 0;
    left: 0;
    /*margin-top: 500px;*/
}

.divTituloInf {
    /*o primeiro é top, right, bottom, left*/
    margin: 0px 11px 5px 10px;
    border-bottom: 1px solid darkcyan;
}



.divDadosPlantel {
    margin: 0px 11px 5px 10px;
    border-bottom: 1px solid darkcyan;
}

.tituloInf {
    margin-left: 20px;
    color: darkcyan;
    font-style: italic;
    font-weight:bold;
}


.tituloPlantel {
    margin-left: 20px;
    color: darkcyan;
    font-style: italic;
    font-weight:bold;
}




.nomeTodoTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}


.nomeTodo {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.dataFundTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}

.dataFund {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.paisTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}

.pais {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.cidadeTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}


.cidade {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}

.presidenteTitulo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
}

.presidente {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
}


#carouselExampleIndicators {
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}



#imagemJogador {
    width: 500px;
    height: 333px;
    object-fit: cover;
}



.divJogadores {
    min-height:330px;
    margin-top:20px;
    margin-bottom:30px;
}


.fotoJogador1 {
    margin-top: 10px;
    margin-left: 7px;
    transition: transform .2s;
    width: 250px;
    height: 300px;
    float: left;
    display: block;
    flex-wrap: nowrap;
    /*margin-left: 50px;*/
}


.fotoJogador1:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.10);
}

.informacaoDireita{
    min-height:200px;
    float:left;
    
}

.informacaoEsquerda {
    min-width:200px;
    float:right;
    margin-right:850px;

}

.tabela {
    float:right;
}




.nomeJogador {
    font-family: unset;
    margin-left: 20px;
    margin-top: 20px;
    color: dimgray;
}

hr.barra {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}





.fotoJogador2 {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 478px;
    width: 365px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.classNomeComp{
    margin-top:0px;
}

.paragrafoNome{
    margin-bottom:0px;
}

.paragrafoNumero{
    margin-bottom:0px;
}

.numeroJogador {
    margin-top: 0px;
}


.paragrafoPosicao {
    margin-bottom: 0px;
}

.posicao {
    margin-top: 0px;
}

.paragrafoDataNasc {
    margin-bottom: 0px;
}

.dataNascimento {
    margin-top: 0px;
}

.paragrafoNacionalidade {
    margin-bottom: 0px;
}

.nacionalidade {
    margin-top: 0px;
}

.paragrafoAltura {
    margin-bottom: 0px;
}

.altura {
    margin-top: 0px;
}

.paragrafoPeso {
    margin-bottom: 0px;
}

.peso {
    margin-top: 0px;
}

