body {

    margin:0px;
    border:0px;
}

.imagemPlantel {
    object-fit:cover;
    display: flex;
    width: 100%;
    height: 300px;
}

#carouselExampleIndicators {
    width: 500px;
    height: 333px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:100px;
}

/*#divImagem {
    width: 500px;
    height: 700px;
}*/



#imagemJogador {
    width: 500px;
    height: 333px;
    object-fit:cover;
}



.divJogadores {
}


.fotoJogador1 {
    margin-top:10px;
    margin-left:10px;
    transition: transform .2s;
    width: 250px;
    height: 300px;
    float: left;
    display: flex;
    flex-wrap: nowrap;
    /*margin-left: 50px;*/
}


.fotoJogador1:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.10);
}

/*.NomeJogador {
    /*text-align: center;
    padding: 10px 20px;
}
    */



/*.multimediaJogador{
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.cadaImagem {
    display:none;

}

.btnProximo, btnAnterior{

}*/

.nomeJogador {
    font-family: 'Roboto Condensed', sans-serif;
     margin-left: 20px;
    margin-top: 20px;
    color: dimgray;
}

hr.barra {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}





.fotoJogador2 {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 478px;
    width: 365px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.classNomeComp{
    margin-top:0px;
}

.paragrafoNome{
    margin-bottom:0px;
}

.paragrafoNumero{
    margin-bottom:0px;
}

.numeroJogador {
    margin-top: 0px;
}


.paragrafoPosicao {
    margin-bottom: 0px;
}

.posicao {
    margin-top: 0px;
}

.paragrafoDataNasc {
    margin-bottom: 0px;
}

.dataNascimento {
    margin-top: 0px;
}

.paragrafoNacionalidade {
    margin-bottom: 0px;
}

.nacionalidade {
    margin-top: 0px;
}

.paragrafoAltura {
    margin-bottom: 0px;
}

.altura {
    margin-top: 0px;
}

.paragrafoPeso {
    margin-bottom: 0px;
}

.peso {
    margin-top: 0px;
}

